- title = "Factorio Server Control Panel"

doctype html
html
  head
    meta(charset="utf-8")
    title= title
    link(rel='stylesheet' href='static/pure.css')
    link(rel='stylesheet' href='static/main.css')
  body
    .container
      h1= title

      .pure-g
        .pure-u-1-3
          .pane
            h3 Mods
            - if (mods.length == 0)
              p
                i None
            - else
              ul
                each mod in mods
                  li
                    a(href=mod.path)= mod.stem

            form.pure-form.pure-form-stacked(method="POST" action="transload-mod")
              fieldset
                legend Install a mod
                label URL:
                  input(type="text" name="fileURL")
                br
                button(type="submit") Transload
            form.pure-form.pure-form-stacked(method="POST" action="mods" enctype="multipart/form-data")
              fieldset
                legend Upload a mod
                input(type="file" name="file")
                br
                button(type="submit") Upload

        .pure-u-1-3
          .pane
            h3 Saved Games
            - if (saves.length == 0)
              p
                i None
            - else
              ul
                each save in saves
                  li
                    a(href=save.path)= save.stem
                    time(datetime=save.stat.mtime)= '('+moment(save.stat.mtime).fromNow()+')'

            form.pure-form.pure-form-stacked(method="POST" action="create-save")
              fieldset
                legend Create new save file
                label Name:
                  input(type="text" name="saveName")
                br
                button(type="submit") Create
            form.pure-form.pure-form-stacked(method="POST" action="saves" enctype="multipart/form-data")
              fieldset
                legend Upload a save file
                input(type="file" name="file")
                br
                button(type="submit") Upload

        .pure-u-1-3
          .pane
            h3 Game Server
            - if (runningServer)
              form.pure-form.pure-form-stacked(method="POST" action="stop-server")
                fieldset
                  legend Server is Running
                  p= " UDP port "+runningServer.port
                  p Started
                    time(datetime=runningServer.startDate)= moment(runningServer.startDate).fromNow()
                  button(type="submit") Stop

              form.pure-form.pure-form-stacked(method="POST" action="console-command")
                fieldset
                  label Send console command:
                    input(type="text" name="command")
                  br
                  button(type="submit") Send

            - else
              form.pure-form.pure-form-stacked(method="POST" action="start-server")
                fieldset
                  legend Server is not running
                  label Save file:
                    select(name='saveName')
                      each save in saves
                        option(value=save.stem)= save.stem
                  br
                  label Latency (ms):
                    input(type="text" name="latencyMS")
                  br
                  label Autosave Interval (minutes):
                    input(type="text" name="autosaveInterval" placeholder="2")
                  br
                  label Autosave Slots:
                    input(type="text" name="autosaveSlots" placeholder="3")
                  br
                  label Port:
                    input(type="text" name="port" placeholder="34197")
                  br
                  label
                    input(type="checkbox" name="peerToPeer")
                    |  Use Peer-to-Peer
                  label
                    input(type="checkbox" name="noAutoPause")
                    |  No Auto-pause
                  br
                  button(type="submit") Start Server
